<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body style="background-color:powderblue;">
	<div><a>About</a> | <a href="/">Main</a></div>
	<h1>Name: Lance Magnaye</h1>
	<h2>Age: 18</h2>
	<img src={{image}}></img>

</body>

	{{> footer}}

</html>