<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body style="background-color:powderblue;">
	<div><a href="info">About</a> | <a>Main</a></div>
	<img src={{image}}></img>

</body>

	{{> footer}}
												
</html>